:root {
  --ifm-color-primary: #409eff;
  --ifm-color-primary-dark: #2b8cf0;
  --ifm-color-primary-darker: #1f7ee6;
  --ifm-color-primary-darkest: #1366c9;
  --ifm-color-primary-light: #57b0ff;
  --ifm-color-primary-lighter: #6dbeff;
  --ifm-color-primary-lightest: #8fccff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
